<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css "access plus 2 months"
ExpiresByType image/ico "access plus 2 months"
ExpiresByType image/gif "access plus 2 months"
ExpiresByType image/jpeg "access plus 2 months"
ExpiresByType image/png "access plus 2 months"
ExpiresByType text/javascript "access plus 2 months"
ExpiresByType application/x-javascript "access plus 2 months"
ExpiresByType application/x-font "access plus 2 months"
ExpiresByType font/opentype "access plus 2 months"
ExpiresByType font/otf "access plus 2 months"
ExpiresByType application/x-font-opentype "access plus 2 months"
ExpiresByType font/truetype "access plus 2 months"
ExpiresByType font/ttf "access plus 2 months"
ExpiresByType application/x-font-truetype "access plus 2 months"
</IfModule>
