.container {
    width: 880px;
    padding-top: 40px;
}

.hero-unit p {
    font-size: 30px;
    line-height: 1.2em;
}

.hero-unit b {
    font-weight: bold;
}

.page-header {
    margin-left: 20px;
    margin-top: 40px;
}

#session {
    margin-bottom: 0px;
}

#session input {
    width: auto;
    height: auto;
    font-size: 24px;
}

.span5 p {
    font-size: 24px;
    line-height: 1.2em;
}

.span15 p, .span15 a {
    font-size: 28px;
    line-height: 1.3em;
}

footer {
    margin-top: 40px;
}