<?php

    // database configuration
    $Server = "yourserver.com";
    $Username = "youruser";
    $Password = "yourpass";
    $Database = "yourdatabase";
    
    // twilio settings
    $AccountSid = "AC********************************";
    $AuthToken = "********************************";
    $ApiVersion = "2010-04-01";
    $PhoneNumber = "555-555-1212";
    
    // application settings
    $PayPalAddress = "paypal@yourserver.com";
    
?>