html
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #57BCF2;
    /* background-image: url(/files/bg.png); */
    background-attachment: fixed;
    font-family: Helvetica, Arial;
    color: #333333;
    font-size: 18px;
    padding: 0px 30px 0px 30px;
    margin: 0px;
    text-shadow: rgba(0, 0, 0, 0.00390625) 0px 0px 1px;
}

a
{
    color: #4183C4;
    text-decoration: none;
}

a:hover
{
    color: #4183C4;
    text-decoration: underline;
}

.header
{
    padding: 0px 18px 0px 18px;
}

.header h1
{
    font-size: 36px;
    margin: 0px;
    padding: 0px;
}

.header h1 a
{
    color: #4183C4;
    text-decoration: none;
}

.header h1 a img
{
    border: none;
}

.header h1 a:hover
{
    color: #4183C4;
    text-decoration: none;
}

.header p
{
    font-weight: normal;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.footer
{
    font-size: 14px;
    padding: 0px 18px 0px 18px;
}

.page
{
    margin: 0px auto;
    width: 760px;
    padding: 40px 30px 30px 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -7px 5px 2px rgba(0, 0, 0, 0.1);
}

.content
{
    padding: 40px 0px 40px 0px;
}

.step
{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e4e4e4;
}

.step-number
{
    font-weight: bold;
    color: #4183C4;
}

.form
{
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    border: solid 3px #e4e4e4;
    font-weight: bold;
    font-size: 20px;
}

.form h3
{
    margin: 0px;
    padding: 0px;
    display: inline;
}

.form input[type=text]
{
    font-size: 22px;
    border: 1px solid #C4C4C4;
    font-family: helvetica, arial;
    padding: 5px;
    text-shadow: rgba(0, 0, 0, 0.00390625) 0px 0px 1px;
    text-align: center;
    font-weight: bold;
    color: #333333;
}

.form input[type=button], .form input[type=submit]
{
    font-size: 18px;
    font-family: helvetica, arial;
    padding: 5px;
    text-shadow: rgba(0, 0, 0, 0.00390625) 0px 0px 1px;
    text-align: center;
}

.form input[type=submit]
{
    background-color: #4183C4;
    border: none;
    color: #ffffff;
    padding: 7px 9px;
    cursor: pointer;
}

.question-list
{
    padding: 0px 18px 0px 18px;
    margin-top: 50px;
    font-size: 14px;
    font-weight: normal;
}

.question
{
    line-height: 1.6em;
    padding-bottom: 20px;
    text-align: justify;
}

.highlight
{
    color: #4183C4;
    font-weight: normal;
    font-size: 28px;
}

.error
{
    background-color: #E64343;
    border-bottom: 3px solid #B53333;
    color: white;
    font: normal normal 500 large/normal Arial, Helvetica, clean, sans-serif;
    text-align: center;
}

.success
{
    background-color: #42A84F;
    border-bottom: 3px solid #288033;
    color: white;
    font: normal normal 500 large/normal Arial, Helvetica, clean, sans-serif;
    text-align: center;
}

#arrow-top
{
    background: #f4f4f4;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 36px;
    opacity: 0.7;
    padding: 12px 18px;
    position: fixed;
    right: 52px;
    top: 42px;
}

.transcript
{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5em;
    padding-top: 20px;
}

.transcript b
{
    padding-bottom: 7px;
    display: block;
}
