html
{
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-position: center 50px;
    height: 100%;
    width: 100%;
}

body
{
	font-family: "Myriad Pro", Trebuchet MS, Arial;
    font-size: 1em;
    line-height: 1em;
    margin: 80px auto 0;
    padding: 30px;
    width: 1000px;
}

a
{
    color: #000000;
}

a:hover
{
    color: #000000;
}

.ie body
{
    font-size: 14px;
}

.ie p.description
{
    padding-top: 30px;
}

.input-text
{
	font-size: 1em;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    height: 28px;
    margin: 0pt;
    padding: 0px 8px 0pt 5px;
    vertical-align: top;
}

.select
{
	font-size: 1em;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    margin: 0pt;
    vertical-align: top;
    height: 28px;
    padding-top: 2px;
}

.textarea
{
	font-size: 1em;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    margin: 0pt;
    padding: 3px 0px 3pt 5px;
    vertical-align: top;
    line-height: 1.3em;
}

.button-container
{
    border-bottom:1px solid #E7E7E7;
    border-right:1px solid #E7E7E7;
    display:inline-block;
    margin:3px 0 4px 0px;
    width: 97px;
}

.button
{
    background:none repeat scroll 0 0 #EEEEEE;
    border-color:#CCCCCC #999999 #999999 #CCCCCC;
    border-style:solid;
    border-width:1px;
    display:block;
    height:30px;
    width: 95px;
}

.input-submit
{
    border: solid 1px #cccccc;
    font-family: Myriad Pro;
    font-size: 26px;
    margin-top: -2px;
    padding-top: 1px;
    background-color: #cccccc;
    color: #ffffff;
    cursor: pointer;
}

@font-face
{
	font-family: "Hand of Sean";
	src: url("handsean.ttf");
}


@font-face
{
	font-family: "Myriad Pro";
	src: url("MyriadPro-Regular.otf");
}

@font-face
{
	font-family: "Myriad Pro";
	font-weight: bold;
	src: url("MyriadPro-Bold.otf");
}